.flex-rating {
    display: flex;
    padding-top: 0;
}

.rating-list {
    display: flex;
    list-style: none;
    padding: 4px 4px 0 4px,
}

.rating-input{
    font-family: "sniglet";
    font-size: 2px;
    margin: 0;
    display: none;
}

.rating-list li {
    font-size: 20px;
    float: right;
    color: #ddd;
    padding: 5px 5px;
}

.rating-list li:hover {
    color: #ffd700;
}

.rating-list li:hover~li {
    color: #ffd700;
}

.rating-list li.selected {
    color: #ffd700;
}

ngb-rating {
    color: #88ff00;
    font-size: 80px;
}

ion-label, ion-input, ion-select, ion-select-option ion-textarea, ion-item, textarea {
    font-family: "sniglet";
}



ion-button {
    font-family: "sniglet";
    color: #EFEDE7;
    font-weight: 700;
    --background: #0E91A1;
    --background-activated: #0f9fb3;
    margin: 20px auto 10px;
    width: 80px;
    display: block;

}

.label-stacked.sc-ion-label-ios-h, .label-floating.sc-ion-label-ios-h {
    font-family: "sniglet";
}

body > app-root > ion-app > ion-router-outlet > app-tabs > ion-tabs > div > ion-router-outlet > app-tab2 > ion-content > div > ion-card > ion-card-content > ion-accordion-group > ion-accordion > div > app-review-form > ion-content > form > ion-item.item.ios.item-lines-default.item-fill-none.hydrated.item-label.item-label-stacked.item-interactive.item-textarea.item-input.item-has-value.ion-dirty.ion-valid.ion-touched > ion-textarea > div > textarea {
    font-family: "sniglet";
}

ion-select-option {
    color: black;
    --background: #EFEDE7;
}

.username-form{
font-size: 24px;
font-weight: 700;
text-align: center;
}

.id-empty {
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
}