<ion-content [fullscreen]="true">
 
        <form [formGroup]="reviewForm">

          <ion-item>
            <ion-label class="username-form" position="stacked">{{currentUser.userName}}</ion-label>
            <ion-input formControlName="user_id" class="id-empty" type="checkbox" [(ngModel)]="currentUser.id"></ion-input>
          </ion-item>

          <!-- <ion-item color="danger" *ngIf="User_idFormControl.touched && User_idFormControl.errors?.['required']">Title Field is required</ion-item> -->


          <ion-item>
            <ion-label position="stacked">rating:</ion-label>
            <div class="flex-rating">
            <ul class="list-inline rating-list"  *ngFor="let star of stars; let i= index">
              <li  (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}" (mouseover)="addClass(star)"
                   (mouseout)="removeClass()"> <span class="material-icons"> <ion-icon name="star"></ion-icon> </span>
              </li>
          </ul>
          </div>
          <ion-input class="rating-input" formControlName="rating" value="{{selectedValue}}"></ion-input>
            
          </ion-item>

          <ion-item>
            <ion-label position="stacked">message:</ion-label>
            <ion-textarea formControlName="message"></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">trail name:</ion-label>
            <ion-select formControlName="trail_id">
              <ion-select-option value="1">Johnson Lake</ion-select-option>
              <ion-select-option value="2">Lake Louise</ion-select-option>
              <ion-select-option value="3">Moraine Lake</ion-select-option>
              <ion-select-option value="4">Jonston Canyon</ion-select-option>
              <ion-select-option value="5">Larch Valley</ion-select-option>
              <ion-select-option value="6">Bow Summit Lookout</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-button variant="primary" (click)="onSubmitReview()"  [disabled]="reviewForm.invalid">Submit</ion-button>

        </form>
     
      

</ion-content>