.trail-card {
    font-family: "sniglet";
    color: black;
    background-color: #efede7dd;
    width: 300px;
    margin: 40px auto;
}

ion-card-content {
    font-family: "sniglet";
    color: #EFEDE7;
    // text-shadow: 2px 1.5px rgba(0, 0, 0, 0.7);

}

ion-card-title {
    font-family: "sniglet";
    color: #0E91A1;

}

ion-card-subtitle {
    font-family: "sniglet";
    color: #3C4048;
    margin-bottom: 0;
    padding-bottom: 0;
}

ion-label {
    font-family: "sniglet";
    color: #2C3333;
}

.trail-info {
    margin-top: 0;
}

.weather {
    padding: 4px;
}

.weather-img {
    display: block;
    width: 90px;
}

span {
    color: #0E91A1
}

.icon-div {
    position: absolute;
    left: 140px;
    top: 0;
}