.trav-div {
    padding-bottom: 110px;
}

h1{
    font-family: "sniglet";
    font-size: 30px;
    text-align: center;
    color: #EFEDE7;
    width: 50%;
    margin: 20px auto;
}
.review-height{
    height:420px;
}