<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Hykes
    </ion-title>
    <div class="user-icon">
      <ion-button id="open-modal2" expand="block" class="user-button">
        <img class="user-img" src="http://localhost:3000/{{currentUser.image}}">
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <div class="trav-div">

    <h1>let's plan your next hyke!</h1>

    <app-weather></app-weather>



    <div class="no-hykes" *ngIf="favHikeIds?.length === 0">
      <h3>no hykes added!</h3>
      <ion-img class="nohykes-img" src="../../assets/images/forest.png"></ion-img>
      <h4>head on over to the hykes tab and favourite some hykes!</h4>
    </div>






    <div size="12" size-sm="12" size-md="6" *ngFor="let fav_item of userHikes">
      <app-user-hike [userHike]="fav_item"></app-user-hike>

    </div>
    <!-- <ion-col size="12" size-sm="12" size-md="6">Test</ion-col>
        <ion-col size="12" size-sm="12" size-md="6">Test</ion-col> -->





    <ion-card class="trail-card">
      <ion-card-header>
        <h2>{{currentUser.userName}},</h2>
        <h3>help your fellow hykers!</h3>
        <ion-img class="nohykes-img" src="../../assets/images/talking.png"></ion-img>

      </ion-card-header>

      <ion-card-content>



        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item class="accord" slot="header">
              <ion-label>Write a review!</ion-label>
            </ion-item>
            <div class="ion-padding review-height" slot="content">
              <app-review-form></app-review-form>
            </div>
          </ion-accordion>

        </ion-accordion-group>

      </ion-card-content>
    </ion-card>
  </div>



  <ion-img class="tree1" src="../../assets/images/tree1.png"></ion-img>
  <ion-img class="tree2" src="../../assets/images/tree1.png"></ion-img>
  <ion-img class="tree3" src="../../assets/images/tree1.png"></ion-img>

  <ion-modal trigger="open-modal2" initialBreakpoint="0.16" [breakpoints]="[0, 0.16]" handleBehavior="cycle">

    <ng-template>
      <ion-content color="secondary" class="ion-padding">
        <div class="ion-margin-top">
          <ion-button class="logstyle" expand="block" (click)="logout(); modal.dismiss()">Log Out</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>