<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hykes
    </ion-title>
    <div class="user-icon">
      <ion-button id="open-modal" expand="block" class="user-button"><img class="user-img"
          src="../../assets/images/traveler.png"></ion-button>
    </div>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div class="welcome">
    <h3>welcome,</h3>
    <h2>{{currentUser.userName}}!</h2>
    <h3>let's go hyking!</h3>
  </div>
  <div class="trav-div">
    <div *ngFor="let hike_item of hikes">
      <app-hike [hike]="hike_item"></app-hike>
    </div>



  </div>
  <ion-img class="tree1" src="../../assets/images/tree1.png"></ion-img>
  <ion-img class="tree2" src="../../assets/images/tree1.png"></ion-img>
  <ion-img class="tree3" src="../../assets/images/tree1.png"></ion-img>


  <ion-modal trigger="open-modal" [initialBreakpoint]="0.16" [breakpoints]="[0, 0.16]" handleBehavior="cycle">
    <ng-template>
      <ion-content color="secondary" class="ion-padding">
        <div class="ion-margin-top">
          <ion-button class="logstyle" expand="block" (click)="logout(); modal.dismiss()">Log Out</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>