<div class="reviewbox" *ngIf="reviews">

  <div class="review-img">
    <img class="rev-img" src="http://localhost:3000/{{reviews.User.image}}">
    <!-- <ion-img class="rev-img" src="../../../assets/images/route.png"></ion-img> -->
  </div>





  <div class="review-text">

    
    <h4>User: <span>{{reviews.User.userName}}</span></h4>
    <div class="flex-rating">
      <ul class="list-inline rating-list" *ngFor="let star of stars; let i= index">
        <li [ngClass]="{'selected': ( star <= reviews.rating )}"> <span class="material-icons"> <ion-icon
              name="star"></ion-icon> </span>
        </li>
      </ul>
    </div>

    <p>"{{reviews.message}}"</p>

  
</div>