

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Info
    </ion-title>
    <div class="user-icon">
      <ion-button id="open-modal3" expand="block" class="user-button">
        <img class="user-img" src="http://localhost:3000/{{currentUser.image}}">
      </ion-button>
    
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-info" [fullscreen]="true" color="secondary">
<div class="header">
 <div class="cloud-group">
<img class="cloud" src="../../../assets/images/cloud.png" alt="cloud">
<img class="cloud2" src="../../../assets/images/cloud.png" alt="cloud">
</div> 

<h2>for your hyke!</h2>
<ion-img class="idea" src="../../assets/images/idea.png" ></ion-img>
</div>
<div class="trav-div">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="6">
<ion-img class="tips" src="../../assets/images/boot.png"></ion-img>
<p>Wear proper hiking shoes for support and stability. Hiking poles can also be used if extra support is needed.</p>
</ion-col>
<ion-col size="12" size-sm="12" size-md="6">
<ion-img class="tips" src="../../assets/images/cloudy.png"></ion-img>
<p>Check weather conditions before starting a hike and dress appropriately.  Layers are often required.</p>
</ion-col>
<ion-col size="12" size-sm="12" size-md="6">
<ion-img class="tips" src="../../assets/images/food.png"></ion-img>
<p>Bring enough water and snacks for the hike you 
  will be doing.</p>
</ion-col>
<ion-col size="12" size-sm="12" size-md="6">
<ion-img class="tips" src="../../assets/images/sun-protection.png"></ion-img>
<p>Apply sunscreen before and during the hike to protect
  yourself from the sun.</p>
</ion-col>
<ion-col size="12" size-sm="12" size-md="6">
<ion-img class="tips" src="../../assets/images/bell.png"></ion-img>
<p>Bringing a bear bell or a music device will alert wildlife that you are approaching and will not surprise them.</p>
</ion-col>
<ion-col size="12" size-sm="12" size-md="6">
<ion-img class="tips paint" src="../../assets/images/paint.png"></ion-img>
<p>Bears may be common in the area. Be sure to pack bear spray, but it should only be used
  as a last resort.</p>
</ion-col>
    </ion-row>
  </ion-grid>

<div class="infolinks">
  <h4>helpful links</h4>
 <ion-button class="infobut" expand="block" (click)="openExternalPage()">Banff National Park</ion-button>
 <ion-button class="infobut" expand="block" (click)="openExternalPage2()">Banff Park Pass</ion-button> 
</div>
</div>

<ion-modal 
  trigger="open-modal3"
  [initialBreakpoint]="0.30"
  [breakpoints]="[0, 0.30]"
  handleBehavior="cycle"
>
  <ng-template>
    <ion-content color="secondary" class="ion-padding">
      <div class="ion-margin-top">
        <div class="account-info">
          <img class="account-img" src="http://localhost:3000/{{currentUser.image}}">
          <div class="account-data">
            <h5 class="accout-h4">user: <span>{{currentUser.userName}}</span></h5>
            <h5 class="accout-h4">email: <span>{{currentUser.email}}</span></h5>
            <h5 class="accout-h4">member since: <span>{{currentUser.dt}}</span></h5>
          </div>
        </div>
        <ion-button class="logstyle" expand="block" (click)="logout(); modal.dismiss()">Log Out</ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
</ion-content>
