

<ion-content color="secondary">
  
  <div class="main">
    <div class="cloud-group">
  <img class="cloud" src="../../../assets/images/cloud.png" alt="cloud">
  <img class="cloud2" src="../../../assets/images/cloud.png" alt="cloud">
  </div>
      <h3>welcome to</h3>
      <h1>HYKADOO</h1>
      
      <img src="../../../assets/images/traveler.png" alt="forest">

      <h4>a capstone project by<br>David Fiorentino</h4>
       <ion-spinner name="dots"></ion-spinner>
  </div>
 
  
</ion-content>
