/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



body {
    font-family: "sniglet";
}

ion-toolbar {
    height: 66px;
    --ion-toolbar-background: #146C78;
    background-color: #146C78;
    border: solid 2px #EFEDE7;
    text-shadow: 2px 1.5px rgba(0, 0, 0, 0.7);
}

ion-title {
    font-family: "sniglet";
    text-align: left;
    font-size: 36px;
    text-shadow: 2px 1.5px rgba(0, 0, 0, 0.7);
    padding: 6px;
    color: #EFEDE7;
}


// images
.tree1 {
    display: block;
    position: fixed;
    width: 120px;
    left: 50px;
    bottom: 480px;
    z-index: -1;
}

.tree2 {
    display: block;
    position: fixed;
    width: 150px;
    left: 200px;
    bottom: 320px;
    z-index: -1;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.tree3 {
    display: block;
    position: fixed;
    width: 200px;
    left: 20px;
    bottom: 100px;
    z-index: -1;
}

.user-img {
    width: 45px;
    object-fit: cover;
    border-radius: 50px;
    border: 4px solid #EFEDE7;
}

.user-icon {   
    display: flex;
    justify-content: flex-end;
    margin-right: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.user-button {
    --background: #0e90a100;
   --background-activated: #0e90a100;
    padding: 0;
    width: 80px;
    border-radius: 10px;
}

//toast

ion-toast.custom-toast {
    --background: #EFEDE7;
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --color: #4b4a50;
  }
      
  ion-toast.custom-toast::part(message) {
    font-family: "sniglet";
    color: #3C4048;
    text-align: center;
    font-size: 18px;
  }
  
  ion-toast.custom-toast::part(button) {
    border-left: 1px solid #d2d2d2;
    color: #030207;
    font-size: 15px;
  }

  .logstyle{
    font-family: "sniglet";
    color: #EFEDE7;
    font-weight: 700;
    --background: #7DCE94;
    font-size: 22px;
    padding: 6px;
}

.infostyle{
    font-family: "sniglet";
    color: #EFEDE7;
    font-weight: 700;
    width: 250px;
    height: 50px;
    --background: #146C78;
    --background-activated: #146c78b7;
    border: 4px solid #EFEDE7;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px auto;
    display: block;
    --border-radius: 6px;
}